/* Ultra Light */

@font-face {
    font-family: "San Francisco";
    font-weight: 100;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}



/* Regular */

@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}



/* Bold */

@font-face {
    font-family: "San Francisco";
    font-weight: 700;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.main-left-column {
    background: linear-gradient(#3F51B5, #673AB7);
    background-attachment: fixed;
    overflow: hidden;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    position: fixed;
}

.main-left-column h1 {
    margin-bottom: 0;
}

.main-right-column {
    font-size: 15px;
    margin-bottom: 60px;
}

.sticky-sidebar {
    position: fixed;
    width: 50%;
}

@media only screen and (max-width: 600px) {
    .sticky-sidebar {
        position: absolute;
        width: 100vw;
    }

    .main-left-column {
	    position: relative;
	}

	.particles-js-canvas-el {
	    position: absolute;
	    top: 0;
	    left: 0;
	}

    .skills{
        width: 50%;
    }

}

/* PARTICLES JS */
	.particles-js{
		width: 100vw;
	}

.nameplate {
    margin-left: auto;
    margin-right: auto;
}

.btn-default {
    background-color: Transparent;
    border: 2px solid white;
    color: white;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.interests {
    background-color: Transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 5px;
    margin-left: 5px;
    font-size: 15px;
}

.social-icons {
    /*position: fixed;
	bottom: 0;
	width: 50%;
	text-align: right;
	margin-bottom: 20px;
	padding-right: 20px;*/
}

.social-icons i {
    padding-left: 10px;
}

.social-icons a {
    color: white;
}

.social-icons a:hover {
    text-decoration: none;
}

.text-element {
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
}

.text-element h6 {
    padding-top: 4px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #3F51B5;
}

.bullet-item {
    padding-bottom: 20px;
}

.bullet-item h5 {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
}

.tags {
    font-size: 10px;
    padding: 2px;
    border-radius: 3px;
    border-color: #6c757d;
    border-style: solid;
    border-width: 1px;
}

.tag-cloud {
    margin-top: 10px;
}

.particles-js-canvas-el {
    height: 100vh!important;
}

.bullet-item-title {
    font-weight: bold;
    font-size: 15px;
}

/* SCROLL DOWN ICON */

.scroll-down{
	position: absolute;
	padding-top: 70vh;
}

.scroll-down a:active{
	color: white;
}

.scroll-down a:hover{
	color: white;
}

.fa-2x{
	color: white;
}

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s 3;
  -webkit-animation: bounce 2s 3;
  animation: bounce 2s 3;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}